<!Doctype html>
<app-header title="首页" headerImg="/assets/logo.png" leftText="全球" [clickLeft]="clickL"></app-header>
<div class="main-container">
    <h1>{{ 'hello' | translate }}</h1>
    <h2>It's Home page</h2>
    <button (click)="btnClick()">change language</button>
    <button (click)="onShow('ios')">showActions</button>
    <p></p>
    <div class="person-wrapper">
        <ul>
            <li *ngFor="let person of persons" [heightLight]="'skyblue'">{{person}}</li>
        </ul>
    </div>
    <app-child account="will" (send)="getData($event)" #child></app-child>
</div>
<weui-actionsheet #ios [menus]="menus" [config]="config"></weui-actionsheet>
